<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Me Up</title>
</head>
<body>

  <h1>Sign Up for a myAsenso&trade; Account</h1>
  <form>
    <div>
      <label for="fullname">Fullname</label>
      <input type="text" id="fullname" name="fullname">
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password">
    </div>
    <button type="submit">Sign Up</button>
    <p>Already registered? <a href="/login">Login!</a></p>
  </form>
  
</body>
</html>